<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://swml/1.0"
            class="swml.swmlPackage"
            genModel="model/container.genmodel"/>
   </extension>

</plugin>
